<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6673M4N0-p4GEtiAnVypm_BZf8wFikz4</string>
	<key>GCM_SENDER_ID</key>
	<string>462231856065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PhiktionHabitat</string>
	<key>PROJECT_ID</key>
	<string>habitat-83361</string>
	<key>STORAGE_BUCKET</key>
	<string>habitat-83361.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462231856065:ios:a3b4880424eea5978ac540</string>
</dict>
</plist>